<!DOCTYPE html>

<html>
    <head>
        <%= htmlWebpackPlugin.options.headMeta %>
        <title>Robox Guides</title>
        <meta name="description" content="">
    </head>
    <body>
        <%= htmlWebpackPlugin.options.nav %>

        <div class="content">
            <h1>Resources</h1>
            <p>
                Robox is a platform for making robotics as accessible to everyone, <br> regardless of if you have any coding experience.
                <br><br>
                Here are some guides and other resources to help you get started!
                <br><br>
                <em>More to come soon.</em>
            </p>

            <div class="tutorialCardGrid">
                <div class="tutorialCard">
                    <img class="cardThumbnail" src="/public/images/hero.jpg" />
                    <div>
                        <h1 class="cardTitle">Building your own Robox</h1>
                        <p class="cardDesc">Let's get started! This guide will show you how to build your own Robox.</p>
                    </div>
                    <a class="tutorialAction" href="/guides/tutorials/building-your-robox.html">Go</a>
                </div>

                <div class="tutorialCard">
                    <img class="cardThumbnail" src="/public/images/cutout.png" />
                    <div>
                        <h1 class="cardTitle">Robox Cutout and Part List</h1>
                        <p class="cardDesc">Don't have a kit? No worries! Make your own Robox using this cutout print!</p>
                    </div>
                    <a class="tutorialAction" href="/resources/Cutout.pdf" target="_blank">Go</a>
                </div>

                <div class="tutorialCard">
                    <img class="cardThumbnail" src="/public/images/python.png" />
                    <div>
                        <h1 class="cardTitle">Robox Python Library</h1>
                        <p class="cardDesc">Use this Python library to help you out with coding your own Robox!</p>
                    </div>
                    <a class="tutorialAction" href="/resources/robox.py">Go</a>
                </div>

                <div class="tutorialCard">
                    <img class="cardThumbnail" src="/public/images/tilesThumb.png" />
                    <div>
                        <h1 class="cardTitle">Tile Printouts</h1>
                        <p class="cardDesc">Print these A3 tiles to test out your Robox!</p>
                    </div>
                    <a class="tutorialAction" href="/resources/tiles.pdf" target="_blank">Go</a>
                </div>
            </div>
        </div>
        
        <div class="footer"></div>
    </body>
</html>