#main-content {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-direction: row;
}
#order-summary {
    background-color: var(--primary-card-color);
    width: 300px;
    height: 675px;
    flex-grow: 0;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
}
.section-title {
    background-color: var(--secondary-bg-color);
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: black;
}
#stripe-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#payment-card {
    background-color: var(--primary-card-color);
    width: 80vw;
    flex-grow: 1;
    flex-direction: column;
    height: 675px;
    display: flex;
    flex-shrink: 1;
    border-radius: 10px;
}
#payment-form {
    padding: 10px;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}   
#submit {
    margin-top: auto;
    background-color: var(--secondary-bg-color);
    padding: 15px;
    border-radius: 20px;
}
#spinner {
    font-size: 40px;
    align-self: center;
}

.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.cart-item-break {
    width: 100%;
    background-color: rgba(123, 212, 234, 0.8);
    height: 3px;
    border-width: 0;
    margin-bottom: 32px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#order-body {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
}
#cost-breakdown {
    flex-grow: 1;
    display: grid;
    padding: 10px;
    margin-bottom: 80.5px;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 0;
    
    grid-template-rows: 50px auto 10px 50px 50px 
}
#cost-breakdown > .cart-item-break {
    grid-column: 1 / span 5;
    margin: 0;
    align-self: center;
    grid-row: 10px;
}
#itemised-list {
    grid-column: span 5;
    margin-top: 0;
}
#itemised-list > li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#cost-breakdown > p:nth-child(2n +4 of :not(.cart-item-break)), #order-value-label  {
    grid-column: 1 / span 3;
}
#cost-breakdown > p:nth-child(2n +3 of :not(.cart-item-break)), #order-value-value {
    text-align: right;
    grid-column: span 2;
    line-height:17px;
}
#order-summary {
    background-color: var(--primary-card-color);
    width: 300px;
    height: 675px;
    flex-grow: 0;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
}