<!DOCTYPE html>

<html lang="en">
    <head>
        <%~ include('src/_partials/headMeta.html') %>
        <script src="index.js" defer="defer"></script>
        <link href="index.css" rel="stylesheet" />
        <title>Robox Store</title>
        <meta name="description" content="">
        <script>
            let allProducts = <%~ JSON.stringify(products) %>;
        </script>
    </head>

    <body>
        <%~ include('src/_partials/nav.html') %>
        <div id="main-content">
            <section class="fullWindow">
                <!-- <button id="heroButton" class="button" onclick="document.getElementById('product-header').scrollIntoView({behavior: 'smooth'});">
                    BUY 1.0 KIT NOW!
                </button> -->
                <div class="heroImage">
                    <img draggable="false" src="@images/hero.jpg">
                </div>

                <div class="heroText">
                    <h1>ROBOX SHOP</h1>
                    <p>Check out our Robox product range!</p>
                </div>
            </section>
            <div class="fullWindowComponent content">
                <h1 id="product-header">
                    Products
                </h1>
                <section id="products">
                    <div id="product-holder" tabindex="0">
                        <% products.forEach(function(product, index) { %>
                            <div>
                                <article class="product" id=<%= product.item_id %> price-id=<%= product.price_id %> onclick="window.location.href ='/store/product/<%= product.name.replaceAll(" ", "-").toLowerCase() %>.html'">
                                    <img class="product-image"
                                        src="/public/images/<%= product.name.replaceAll(" ", "-").toLowerCase() %>/thumbnail.webp">
                                    <h1 class="product-name"><%= product.name.toUpperCase() %></h1>
                                    <p class="product-status in-stock">In stock - ready to ship</p>
                                    <h3 class="product-price">$<%= product.price %></h3>
                                    <button class="product-button">
                                        <p>
                                            Add to Cart
                                        </p>
                                    </button>
                                </article>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <template id="product-template">
            <article class="product">
                <img class="product-image"
                    src="https://user-images.githubusercontent.com/42506001/221354918-01bf0e89-48be-4df7-85bb-cdf5d0136f2a.png">
                <h1 class="product-name">ROBOX KIT 1.0</h1>
                <p class="product-status in-stock">In stock - ready to ship</p>
                <h3 class="product-price">$10,000</h3>
                <button class="product-button">
                    Add to Cart
                </button>
            </article>
        </template>
        <dialog class="modal" id="cart-dialog">
            <div>
                <i class="fa-solid fa-bag-shopping fa-4x"></i>
                <h1 class="modal-title" id="cart-title">Added item to the cart!</h1>
                <div id="cart-buttons">
                    <button class="button" id="cart-button" onclick="location.href='/store/cart/cart.html'" >
                        View My Cart
                    </button>
                    <button class="button" id="continue-button">
                        Continue Shopping
                    </button>
                </div>
            </div>
        </dialog>

        <footer class="footer"></footer>
    </body>
</html>