/* latin-ext */

:root {
    --main-bg-color: #a1eebd;
    --primary-card-color: #F6F7C4;
    --secondary-bg-color: #7BD3EA;
    --header-size: 60px;
}

* {
    font-family: 'Oxygen', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: black; */
    scroll-behavior: smooth;
}

body {
    background-color: #A1EEBD;
    margin: 0;
    overflow-x: hidden;
    background-image: url(@images/cross.png);
    background-attachment:fixed;
    background-position: left top;

    animation-name: moveBg;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moveBg {
    from {
        background-position: 0 0;
    }
    to { 
        background-position: 40px 40px;
    }
}

a {
    text-decoration: none;
}
a:hover {
    color: gray;
}

.fullWindowComponent {
    width: 100vw;
    min-height: calc(100vh - var(--header-size));
}

.halfWindowComponent {
    width: calc(100vw - 100px);
    /* height: 50vh; */
    padding: 20px 50px;
}
.heroImage {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.heroImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.heroText {
    z-index: 99;
    position: absolute;
    top: 100px;
    right: 50px;
    width: 30%;
    text-align: right;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.heroText * {
    color: white;
}

.heroText h1 {
    font-size: 2.5rem;
}

.heroText > p:not([style]) {
    font-size: 1.3rem;
    font-weight: lighter;
}

#about {
    padding-top: var(--header-size);
}

.largeButton {
    display: block;
    margin: 0px;
    max-width: 500px;
    background-color: #4f9e2d;
    border: 5px solid #4f9e2d;
    box-shadow: 0 10px 0 #31621c;
    border-radius: 20px;
    color: white !important;
    font-size: 1.5rem;
    padding: 25px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: center;
}

.largeButton:hover {
    background-color: rgba(35, 63, 126, 0);
    border: 5px solid #4f9e2d;
    color: #4f9e2d !important;
    transform: translate(0px, 10px);
    box-shadow: 0 0 0 #31621c;
}

.tutorialCard {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 28px; */
    max-width: 20vw;
    min-width: 200px;

    border-radius: 15px;
    background-color: #F6F7C4;
}

.tutorialCardGrid {
    display: flex;
    width: 100%;
    /* align-items: flex-start; */
    align-items: stretch;
    align-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    text-align: left;
}

.cardTitle {
    font-size: 17px;
}

.tutorialAction {
    width: 100%;
    text-align: center;
    background-color: #F9D861;
    color: black;
    padding: 10px 0px;
    border-radius: 15px;
}

.cardThumbnail {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 15px;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.two-column {
    display: flex;
    gap: 48px;
}

.two-column > .column {
    flex: 1;
}

.content {
    margin-top: 40px;
    padding: 0 50px;
}

#floating-item-holder {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 265px;
    right: 90px;
    height: calc(100% - var(--header-size) - 15px - var(--project-header));
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.40);
}
#cart:hover {
    text-decoration: underline !important;
    text-decoration-color: black;
}
#cart {
    text-decoration: none !important;
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 5px;

}
.modal {
    background-color: var(--primary-card-color);
    border: 0;
    width: 50%;
    height: 40%;
    min-height: 300px;
    min-width: 250px;
    margin-top: auto;
    border-radius: 20px;
    z-index: 100000;
    padding: 64px;
}
.modal-title {
    text-align: center;
    font-size: 25px;
}
.modal:not(#print-modal)>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
#product-holder {
    display: flex;
    width: 100%;
    /* align-items: flex-start; */
    align-items: stretch;
    align-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    text-align: left;
}
.product>* {
    margin: 0;
}
.product-image {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 20px;
}
.product-name {
    margin-top: 5px;
    font-size: 40px;
}
.product-button > a {
    height: 100%;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: black;
}
.product {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--primary-card-color);
    filter: drop-shadow(5px 5px);
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 434px; */
}
#product-holder > .sub-product-grid > div {
    width: 480px;
    padding-bottom: 3px;
    padding-right: 3px;
}
#product-holder > div:hover > .product {
    transform: translate(-3px, -3px);
    filter: drop-shadow(8px 8px);
}
.product-button {
    flex-grow: 1;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    border: 2px solid rgba(0, 0, 0, 0);


}
.product-button:hover {
    border: 2px solid black;
}
.modal .secondaryText {
    font-size: 17px;
    color: #404040;
}

.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: none;
}

.header {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: var(--header-size);
    width: 100%;
    background-color: var(--secondary-bg-color);
    align-items: center;
    z-index: 999;
    top: 0;
}

.headerLogo img {
    height: 30px;
}

#logoImage {
    height: 70px;
    overflow: auto;
}
#roboxLogoHolder, #roboxLogoHolder > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkHolders {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 16px;
    width: 20%;
}
.linkHolders > * {
    color: rgb(62, 71, 105);
    text-align: center;
}



#toast-holder {
    width: 100%;
    z-index: 1000;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    gap: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.toast {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    pointer-events: auto;
}
.negative-toast {
    background-color: #AD0808;
}
.positive-toast {
    background-color: #0EBA7C;
}
.icon-holder {
    height: 100%;
    display: flex;
    align-items: center;
}
.icon-holder>svg {
    width: 30px;
    height: 30px;
    color: white;
}
.toast-text {
    flex-grow: 1;
    display: flex;
    margin-left: 7px;
    flex-direction: column;

}
header {
    display: flex;
}
.toast-text>* {
    margin: 0;
}
.toast-text>h1 {
    color: white;
    font-size: 14px;
}
.toast-text>p {
    color: rgb(223, 223, 223);
    font-size: 10px;
    text-wrap: wrap;
}


.footer {
    height: 64px;
}


/* @media screen and (max-width: 480) {
    .product {
        max-width: 99vw;
    }
} */

#home > * {
    height: 50px;
    display: block;
}

@media screen and (max-width: 800px) {
    .two-column {   
        flex-direction: column;
    }

    .heroText {
        left: 50px;
        right: 50px;
        width: auto;
        text-align: center;
    }
}