body {
    margin: 0;
    max-width: 100vw;
}

pre,
code {
    overflow: auto;
}

.blocklyTreeLabel {
    font-size: 15px;
    color: black;
    margin-left: 2px;
    font-family: 'Inter';
}
#toolbar {
    width: 100%;
    height: 30px;
}
#header {
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 75px;
}
#floating-container {
    position: absolute;
    width: 80vw;
    height: 80vh;
    margin-top: 15vh;
    margin-left: 15vw;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

#floating-body {
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 50px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.floating-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    display: flex;
}
#connection {
    width: 150px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 13px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
#connection-text {
    margin-left: auto;
    margin-right: 7px;
    font-family: 10px;
    font-family: "Oxanium";
}
.connect {
    font-size: 14px;
}
.not-connected {

}
#robox-connection {
    border: 1px solid ;
    margin-left: 7px;
}
#robox-connection>img, #robox-connection {
    height: 30px;
    width: 30px;
}
.happy-face {
    content: url(./RoboxLogo.png);
}
.sad-face {
    content: url(./sadRobox.png);
}
#robox-connection>img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

#play {
    background-color: #45B8DC;
    display: none;
}
#connect {
    background-color: red;
}
#hidden {
    margin-left: auto;
    visibility: hidden;
    width: 20px;
}
#project-name {
    background-color: #48A9C2;
    font-family: 'Oxanium';
    color: white;
    text-align: center;
    border: 0;
    font-size: 20px;
}
#headertwo {
    background-color: #48A9C2;
    width: 100%;
    height: 37.5px;
    display: flex;
    justify-content: center;
}
#header-button-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.blocklyTreeSeparator {
    border-bottom: solid #000 1px !important;
    margin-bottom: 13px !important;
}
#back{
    height: 20px;
    width: 20px;
    margin-right: auto;
    background-color: #48A9C2;
    color: white;
}

/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
    padding: 0.5em;
}
.blocklyTreeRowContentContainer {
    display: flex;
    justify-content: left;
    align-items: left;
}

.blocklyTreeRow {
    height: initial;
}
.blocklyTreeIcon {
    display: none !important;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 20px;
    margin-bottom: 0.5em;
    border-radius: 6px;
}
.blocklyToolboxDiv {
    padding-left: 15px;
    padding-right: 15px;
}
#pageContainer {
    width: 100%;
    max-width: 100vw;
    height: calc(100vh - 112.5px);
}

#blocklyDiv {
    width: 100%;
}


#run {
    background-color: blue;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    z-index: 1000000;
}