:root {
    --project-header: 0px;
}
body {
    background-image: url(@images/cross.webp);
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
    
}

#main-content {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-direction: row;
}
#cart-items {
    background-color: var(--primary-card-color);
    width: 80vw;
    flex-grow: 1;
    height: 675px;
    flex-shrink: 1;
    border-radius: 10px;
}
#order-body {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
}
.order-title {
    flex-grow: 0;
    flex-shrink: 0;
}
#cost-breakdown {
    flex-grow: 1;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 0;
    
    grid-template-rows: 50px auto 10px 50px 50px 
}
#cost-breakdown > .cart-item-break {
    grid-column: 1 / span 5;
    margin: 0;
    align-self: center;
    grid-row: 10px;
}
#itemised-list {
    grid-column: span 5;
    margin-top: 0;
}
#itemised-list > li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#cost-breakdown > p:nth-child(2n +4 of :not(.cart-item-break)), #order-value-label  {
    grid-column: 1 / span 3;
}
#cost-breakdown > p:nth-child(2n +3 of :not(.cart-item-break)), #order-value-value {
    text-align: right;
    grid-column: span 2;
    line-height:17px;
}
#order-summary {
    background-color: var(--primary-card-color);
    width: 300px;
    height: 675px;
    flex-grow: 0;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
}
section:has(> .cart-item-holder:empty) {
    display: none;
}
.cart-section-title {
    background-color: var(--secondary-bg-color);
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: black;
}
.cart-item-holder {
    width: 100%;
    padding: 10px;
    position: relative;
    list-style:none;
    box-sizing: border-box;
    margin-bottom: 0px;
}
.cart-item {
    height: 100px;
    width: calc(100% - (2*22px));
    flex-direction: row;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 22px;
    margin-right: 22px;
}
.cart-item-holder > .cart-item-break:last-child {
    margin-bottom: 0;
}
.cart-item-photo {
    background-color: gray;
    height: 100px;
    width: 100px;
}
.cart-item-delete {
    align-self: flex-start;
    right: 27.5px;

    position: absolute;
}
.cart-item-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
.cart-item-text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.cart-item-text-title {
    margin-top: 0;
    margin-bottom: 0;
}

.cart-item-text-price {
    margin-bottom: 0;
    height: 37px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

}

.cart-item-delete {
    color: red;
}
.cart-item-delete > .fa-trash {
    font-size: 30px;
}
.cart-item-break {
    width: 100%;
    background-color: rgba(123, 212, 234, 0.8);
    height: 3px;
    border-width: 0;
    margin-bottom: 32px;
}



.cart-quantity-button {
    font-size: 20px;
    width: 150px;
    height: 37px;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #F6F7C4;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.decrease-cart-button {
    border-radius: 5px 0 0 5px;
}
.increase-cart-button {
    border-radius: 0 5px 5px 0;
}
.cart-quantity-button > button {
    width: 30px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#checkout {
    grid-column: span 5;
    margin: 15px;
    background-color: var(--secondary-bg-color);
    padding: 15px;
    border-radius: 20px;
}
.cart-quantity {
    background-color: rgba(0,0,0,0);
    border: 0;
    text-align: center;
    border-top: 2px black solid;
    border-bottom: 2px black solid;

    box-sizing: border-box;
    height: 100%;
    font-size: 20px;
    flex-shrink: 1;
    padding: 0;
    width: 90px;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
@media only screen and (max-width: 900px) {
    #main-content {
        flex-direction: column;
    }
    #order-summary {
        width: 80vw;
    }
}