:root {
    --project-header: 0px;
}
body {
    background-image: url(../cross.webp);
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
    
}

#main-content {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-direction: row;
}
#cart-items {
    background-color: var(--primary-card-color);
    width: 80vw;
    flex-grow: 1;
    height: 725px;
    flex-shrink: 1;
    border-radius: 10px;
}
#order-summary {
    background-color: black;
    width: 300px;
    height: 725px;
    flex-grow: 0;
    flex-shrink: 0;
}
.cart-section-title {
    background-color: var(--secondary-bg-color);
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: black;
}
.cart-item-holder {
    width: 100%;
    padding: 10px;
    list-style:none;
    box-sizing: border-box;
    margin-bottom: 0px;
}
.cart-item {
    height: 100px;
    width: calc(100%-(2*22));
    flex-direction: row;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 22px;
    margin-right: 22px;
}
.cart-item-holder > .cart-item-break:last-child {
    margin-bottom: 0;
}
.cart-item-photo {
    background-color: gray;
    height: 100px;
    width: 100px;
}
.cart-item-delete {
    align-self: flex-start;
    margin-left: auto;
}
.cart-item-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
.cart-item-text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-item-text-title {
    margin-top: 0;
    margin-bottom: 0;
}

.cart-item-text-price {
    margin-bottom: 0;
}
.cart-item-delete {
    color: red;
}
.cart-item-delete > .fa-trash {
    font-size: 30px;
}
.cart-item-break {
    width: 100%;
    background-color: var(--secondary-bg-color);
    height: 3px;
    border-width: 0;
    margin-bottom: 32px;
}



.cart-quantity-button {
    font-size: 20px;
    width: 150px;
    height: 37px;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #F6F7C4;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.decrease-cart-button {
    border-radius: 5px 0 0 5px;
}
.increase-cart-button {
    border-radius: 0 5px 5px 0;
}
.cart-quantity-button > button {
    width: 30px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.cart-quantity {
    background-color: rgba(0,0,0,0);
    border: 0;
    text-align: center;
    border-top: 2px black solid;
    border-bottom: 2px black solid;

    box-sizing: border-box;
    height: 100%;
    font-size: 20px;
    flex-shrink: 1;
    padding: 0;
    width: 90px;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}