<!DOCTYPE html>

<html lang="en">
    <head>
        <%~ include('src/_partials/headMeta.html') %>
        <title>Robox - Robotics for Everyone</title>
        <meta name="description" content="">
        <style>
            .product-button {
                background-color: #F9D861;
            }
        </style>
    </head>
    <body>
        <%~ include('src/_partials/nav.html') %>

        <section class="fullWindowComponent">
            <div class="heroText">
                <h1>ROBOTICS FOR EVERYONE</h1>
                <p>An ultra-affordable way to learn robotics and STEM.</p>
            </div>
            <div class="heroImage">
                <img draggable="false" src="@images/hero.jpg" alt="Robox">
            </div>
        </section>
        
        <main class="content" id="about">
            <section class="two-column">
                <div class="column">
                    <h1>What is Robox?</h1>
                    <p>
                        Robox is an ultra-cheap, easy to use line-following robotics kit that can be used to teach STEM to anyone.
                        Most robotics kits are expensive and out of budget for many schools and students, and Robox aims to break cost barriers.
                        Additionally, Robox is designed to be easy to build and use, with no soldering required and a simple design.
                        <br><br>
                        Robox is designed to be used with the Raspberry Pi Pico, a cheap microcontroller that can be programmed in C or MicroPython.
                        Part of the Robox project is to provide free resources and guides to help you get started with robotics and programming!
                    </p>
                </div>

                <div class="column">
                    <h1>Block Code Editor</h1>
                    <p>
                        This block code editor is available to make it as accessible as possible to beginners!
                        <br><br>
                        <em>We recommend using the block code editor on desktop with a modern browser.</em>
                    </p>

                    <a href="/editor/" class="largeButton">Try out the Robox Block Code Editor »</a>
                </div>
            </section>

            <section id="resources">
                <h1 style="margin-top:100px;">Resources</h1>
                <p>
                    Robox is a platform for making robotics as accessible to everyone, regardless of if you have any coding experience.
                    
                    Here is a guide to help you get started!
                    <br><br>
                </p>
                
                <div id="product-holder" style="margin-top: 48px;">
                    <% guides.forEach(function(guide, index){ %>
                            <div>
                                <article class="product">
                                    <img class="product-image" src="guides/tutorials/images/<%= guide["filename"] %>.png">
                                    <h1> <%= guide["title"] %> </h1><br>
                                    <p><%= guide["description"] %></p>
                                    <div class="product-button">
                                        <a href="<%= guide['link'] %>">
                                            <p>Go</p>
                                        </a>
                                    </div>
                                </article>
                            </div>
                    <% }) %>
                </div>
            </section>
        </main>
        
        <footer class="footer"></footer>
    </body>
</html>