<header class="header">
    <div class="headerLogo">
        <a id="home" href="/">
            <img src="@images/Robox.svg" alt="Robox">
        </a>
    </div>

    <nav class="linkHolders">
        
        <a href="/#about">About</a>
        <a href="/#resources">Resources</a>
        <% if (process.env.STORE_TESTING === "true") { %>
            <a href="/store">Shop</a>
        <% } %>
        
        <a href="/store/cart/cart.html" id="cart" style="display: none;">
            <div>
                <p></p>
            </div>
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </nav>
</header>